html,body {
    font-family: 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Geneva, Verdana, sans-serif;
    color: #767676;
}

body {
    background: url('assets/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 5%;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    border-radius: 24px;
    padding: 16px 10px;
    background-color: #e8f9ff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-wrapper.surprise, .card-wrapper.read {
    display: none;
}

.card-wrapper.gift {
    height: 350px;
    max-height: 500px;
    background-color: #FFF266;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card .content {
    align-items: flex-start;
}

.card.surprise {
    background: url('assets/images/gift-card.png');
    background-size: cover;         /* important for responsive scaling */
    background-position: center;
    background-repeat: no-repeat;
    /* Card sizing */
    width: 100%;
    max-width: 600px;
    aspect-ratio: 3/4;              /* keeps shape consistent */

    /* Center content */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Optional */
    border-radius: 20px;
}
.card .surprise-content {
    display: flex;
    flex-direction: column;
}
.card > div {
    display: block;
}
.card .title {
    margin-top: -10%;
    font-size: 2em;
    font-weight: bold;
}
.card .price {
    font-size: 4em;
    font-weight: bold;
    color: #FF5733;
    text-align: center;
}
.card .price-after {
    font-size: 1.2em;
    font-weight: normal;
    font-style: italic;
    color: #333333;
    text-align: center;
    margin-top: -5px;
}
.card p { 
    width: 100%;
}

.surprise-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.surprise-button:hover {
    background-color: #419145;
}